:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

button {
  border: none;
  outline: none;
  padding: 0;
  cursor: pointer;
}